.btn{
    &,
    &:visited,
    &:link{
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        font-size: 1.6rem;
        position: relative;

        //Change for the <button> element
        border: none;
        cursor: pointer;


    }
    &:hover,
    &:focus{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-light,.2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-light,.2);
    }
    &::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &-white{
        color: $color-gray-dark;
        background-color: $color-light;
        &::after{
            background-color: $color-light;
        }
    }
    &--green{
        color: $color-light;
        background-color: $color-primary-dark;
        &::after{
            background-color: $color-primary-light;
        }
    }
    &-animated{
        animation: moveInButtom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}
.btn-text{
    &:link,
    &:visited{
        font-size: 1.6rem;
        color: $color-primary-light;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-light;
        padding: 5px 8px;
        transition: all .2s;
    }
    &:hover{
        background-color: $color-primary-light;
        color: $color-light;
        box-shadow: 0 1rem 2rem rgba($color-dark, .15);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-dark, .15);
        transform: translateY(0);
    }
}